.conatiner-wrapper{
    display: flex;
    flex-direction: row;
}
.conatiner1{
    width: 25%;
    height: 100px;
}
.conatiner2{
    width: 75%;
    height: 100px;
}

.heading{
    background-color: black;
    color: white;
  }
